#chart_div {
    width: calc(100% - 50px); /* Adjusted width to fit within the box */
    height: 70%; /* Adjusted height */
    position: absolute;
    top: calc(50% - 150px); /* Centered vertically */
    left: 25px; /* Aligned with the left edge */

   
    padding: 1px;
    z-index: 10;
    overflow-y: auto;
    color: rgb(0, 0, 0);
    font-family: 'Oswald', sans-serif;
    overflow: hidden; /* Prevents content from overflowing */
}
