#chart_div {
    width: calc(100% - 50px);
    height: 70%;
    position: absolute;
    top: calc(50% - 150px);
    left: 23px;
    padding: 1px;
    z-index: 10;
    overflow-y: auto;
    color: rgb(0, 0, 0);
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    border: 2px solid #3f3d3d; /* Add border */
    border-radius: 10px; /* Add border radius */
    text-align: center; /* Center text */
    font-size: 50px; /* Increase font size */
}



