
body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#mainTitle {
    left: 40px;
    top: 40px;
    width: 400px;
    height: 100px;
    background: #3c5369;
    position: absolute;
    padding: 20px;
    z-index: 2;
    border-radius: 10px;
    font-size: 40px;
    color: white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.toggle-container {
    position: absolute;
    top: 500px;
    right: 5px; /* Adjusted from .5px */
    z-index: 1000;
    width: 30px; /* Adjusted width */
    height: 30px; /* Adjusted height */
}

#info {
    z-index: 1000;
    position: absolute;
    width: 500px;
    top: 1%;
    bottom: 1%;
    right: .5%;
    padding: 40px 15px 40px 15px; /* Adjusted bottom padding */
    background: #3c5369;
    color: white;
}

#info a {
    color: lightgray;
}

#info a:hover {
    color: white;
    opacity: 0.3;
}

#title {
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

#title span {
    font-size: 14px;
    float: right;
    margin-right: 10px;
}

#desc {
    text-align: left;
    color: lightgray;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 0px;
}

#legend-container {
    position: absolute;
    top: 150px;
    right: 25px;
    background-color: rgb(241, 241, 241);
    border: 1px solid #3f3d3d;
    padding: 1px;
    z-index: 10;
    max-height: 150px; /* Adjusted max-height */
    overflow-y: auto;
    width: 85%;
    height: auto; /* Changed height to auto to allow content to dictate height */
    color: rgb(0, 0, 0);
    font-family: 'Oswald', sans-serif;
}

#legend-container:hover {
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: #9b9898;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    z-index: 11;
}

.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.legend-label {
    white-space: nowrap;
}

.break {
    position: relative;
    margin: 0px;
    padding: 0px;
}

.dot {
    display: inline-block;
    margin-top: 5px;
    border-radius: 50%;
    opacity: 0.6;
}

.dot-label {
    position: absolute;
    top: 0;
    right: 0;
    font-style: italic;
}
#projectInfo {
    left: 40px;
    bottom: 50px; /* Adjusted from 40px */
    width: 400px;
    height: auto; /* Adjusted from 100px */
    background: #3c5369;
    position: absolute;
    padding: 20px;
    z-index: 2;
    border-radius: 10px;
    font-size: 16px; /* Adjusted from 40px */
    color: white;
    text-align: left; /* Adjusted from center */
    font-family: 'Oswald', sans-serif;
}

#projectInfo h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    margin-top: 0;
}

#projectInfo p {
    font-size: 16px;
    margin-bottom: 0; /* Adjusted to remove default margin */
}
