
body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#aboutContent {
    position: absolute;
    top: 70px;
    left: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    display: none;
    z-index: 2000; /* Set a higher z-index value */
}

/* Add CSS for the About tab */
#aboutTab {
    position: absolute;
    top: 165px;
    left: 45px;
    z-index: 1001; /* Increase z-index to ensure it's above other elements */
}

#aboutButton {
    background-color: #50C878;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


#mainTitle {
    left: 40px;
    top: 40px;
    width: 300px; /* Adjusted width */
    height: 80px; /* Adjusted height */
    background: #50C878;
    position: absolute;
    padding: 15px; /* Adjusted padding */
    z-index: 1000;
    border-radius: 8px; /* Adjusted border-radius */
    font-size: 30px; /* Adjusted font-size */
    color: black;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.toggle-container {
    position: absolute;
    top: 500px;
    right: 5px; /* Adjusted from .5px */
    z-index: 1000;
    width: 30px; /* Adjusted width */
    height: 30px; /* Adjusted height */
}

#info {
    z-index: 1000;
    position: absolute;
    width: 500px;
    top: 1%;
    bottom: 1%;
    right: .5%;
    padding: 40px 15px 40px 15px; /* Adjusted bottom padding */
    background: #50C878;
    color: black;
}

#info a {
    color: black;
}

#info a:hover {
    color: white;
    opacity: 0.3;
}

#title {
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

#title span {
    font-size: 14px;
    float: right;
    margin-right: 10px;
}

#desc {
    text-align: left;
    color: black;
    font-size: medium;
    font-weight: bold;
    position: absolute;
    top: 0px; /* Adjusted top position to move the text higher */
}


#legend-container {
    position: absolute;
    top: 70px; /* Adjusted top position */
    right: 30px;
    background-color: rgb(241, 241, 241);
    border: 1px solid #3f3d3d;
    padding: 10px; /* Increased padding for better spacing */
    z-index: 10;
    max-height: 150px;
    overflow-y: auto;
    width: 85%;
    height: auto;
    color: rgb(0, 0, 0);
    font-family: 'Oswald', sans-serif;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px; /* Increased margin for better separation */
}

.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 10px; /* Increased margin for better spacing */
    border-radius: 50%; /* Rounded shape for color indicators */
}

.legend-label {
    font-size: 14px; /* Adjusted font size */
}

.dot {
    width: 10px; /* Adjusted width to make dots smaller */
    height: 10px; /* Adjusted height to make dots smaller */
    margin-top: 6px; /* Adjusted margin for better alignment */
    border-radius: 50%;
    opacity: 0.6;
}

.dot-label {
    font-size: 12px; /* Adjusted font size */
}

#projectInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: auto; /* Adjusted height to fit content */
  max-height: 70%; /* Limiting maximum height to 70% of the viewport height */
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

#projectInfo h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  margin-top: 0;
}

#projectInfo p {
  font-size: 16px;
}